 *{
  margin: 0;
  padding: 0;
 }

a{
  text-decoration: none;
}

ul{
  list-style: none;
}
body{
  font-family: 'Poppins';
}

 .section-1{
  background-color: #0B0B0B ;
  color: #FFF;
 }
 .container {
  max-width: 1440px;
  width: 100%;
  padding: 0 32px;
  margin: 0 auto;
}
header{
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.nav-link li{
  
  display: flex;
  justify-content: space-between;
  gap: 27px;
}

.nav-link a{
  color: #8B8E99;
  font-size: 16px;
}

.ul-nav a{
  gap: 15px;
}





.discover{
  margin-top: 177px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 90px ;
}
.discover-tex h1{
  font-size: 64px;
}
.discover-tex p{
  font-size: 16px;
  color: #8B8E99;
}





.watches-box{
  margin-top: 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}





.apple-1{
  padding-left: 30px ;
  width: 354px;
  height: 239px;
  background-color: #F6F6F6;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.apple-1 h3{
  color: #1E1D1D;
  font-size: 36px;
}
.apple-1 p{
  color: #8B8E99;
  font-size: 16px;
}


.inps {
  margin-top: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 0 10px;
}

.inps input {
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 10px;

}
.inps button{
  padding: 9px 40px;
  border: none;
  background-color: #3858d6;
  border-radius: 10px;
}


.box-tex{
  text-align: center;
   margin-top: 175px;
}
.box-tex h2{
  color: #1E1D1D;
  font-size: 36px;
}

.img-cart{
  margin-top: 65px;
  background-color: #F6F6F6;
  padding: 5px;
  text-align: center;
}



.box-cart-1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-content: space-between;
}

.cart-1{
  text-align: center;
}

.cart-1 h4{
  color: #1E1D1D;
  text-align: center;
  font-size: 24px;
}
.cart-1 span{
  color: #000;
  font-size: 24px;
}
.but{
  text-align: center;
  margin-top: 70px;
}
